body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #000;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
}
.txt{
    color: #fff;
    background: #000;
    font-size: 150px;
    font-weight: bold;
}
.txt:before{
    content: 'Clarkode';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}
.txt_gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: linear-gradient(114.5793141156962deg, 
                rgb(6, 112, 250) 4.927083333333334%,
                rgb(255, 0, 64) 97.84374999999999%);
}
.txt_dodge{
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    background: radial-gradient(circle,white,black 35%) 
                center / 25% 25%;
    animation: neon 3s linear infinite;
}
@keyframes neon{
    to{
        transform: translate(50%, 50%);
    }
}